alembic==1.12.0
amqp==5.1.1
AMQPStorm==2.10.6
annotated-types==0.6.0
anyio==3.7.1
api==0.0.7
argcomplete==3.1.2
beautifulsoup4==4.12.2
billiard==4.1.0
blinker==1.6.2
Brotli==1.1.0
celery==5.3.4
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cockroachdb==0.3.5
colorama==0.4.6
commitizen==3.10.0
databases==0.8.0
dbus-python==1.3.2
decli==0.6.1
distlib==0.3.7
distro==1.8.0
dnspython==2.4.2
email-validator==2.0.0.post2
fastapi==0.103.2
fb-re2==1.0.7
filelock==3.12.3
Flask==2.3.3
gpg==1.17.1
greenlet==3.0.0
h11==0.14.0
httpcore==0.18.0
httptools==0.6.0
httpx==0.25.0
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
kombu==5.3.2
libcomps==0.1.18
Mako==1.2.4
MarkupSafe==2.1.3
mercurial==6.3.3
mpmath==1.3.0
mutagen==1.47.0
nftables==0.1
nose==1.3.7
numpy==1.26.0
orjson==3.9.9
packaging==23.1
pamqp==2.3.0
pika==1.3.2
platformdirs==3.10.0
prompt-toolkit==3.0.36
psycopg2-binary==2.9.9
pycryptodome==3.19.0
pycryptodomex==3.19.0
pydantic==2.4.2
pydantic-extra-types==2.1.0
pydantic-settings==2.0.3
pydantic_core==2.10.1
PyGObject==3.44.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
PyYAML==6.0.1
questionary==2.0.1
requests==2.31.0
rpm==4.18.1
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==1.4.49
sqlalchemy-cockroachdb==2.0.1
sqlparse==0.4.4
starlette==0.27.0
sympy==1.12
systemd-python==235
termcolor==2.3.0
tomlkit==0.12.1
typing_extensions==4.8.0
tzdata==2023.3
ujson==5.8.0
unicorn==2.0.1.post1
urllib3==2.0.4
uvicorn==0.23.2
uvloop==0.17.0
vine==5.0.0
virtualenv==20.24.4
watchfiles==0.21.0
wcwidth==0.2.7
websockets==11.0.3
Werkzeug==2.3.7
youtube-dl==2021.12.17
yt-dlp==2023.7.6
zipp==3.17.0